name: module3_task3
on:
  push:
    branches:
      - main
    tags:
      - 1.0.0
  schedule:
    - cron: '0 0 * * *'
jobs:
  module3_task3:
    runs-on: ubuntu-18.04
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - run: |
          npm install -g markdownlint-cli markdown-link-check
          cd module3_task3
          sudo ./setup.sh
          make build
          make help
          make validate
          make test
          make package
          make lint
      - name: Archive generated zip
        uses: actions/upload-artifact@v3
        if: ${{ github.ref == 'refs/heads/main' }}
        with:
          name: awesome-website
          path: module3_task3/awesome-website.zip
      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          body_path: module3_task3/DEPLOY.md
          files: |
            module3_task3/awesome-website.zip
